// Mobile first
$mediaWidthMobile: 376px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Шрифты
$fontFamily: "Open Sans";
//$fontFamily: "Fira Sans";
// Цвета UI
$primary: #BCA4FF;
$gray: #616161;
$primaryLight: #ae9fe0;
$body: #0D0D0D;
$bodyLight: #171717;
$background: #000000;


// Цвета Typography
$white:  #FFFFFF;
$heading: #FFFFFF;
$paragraph: #F5F5F5;
$secondary: #A5ADBB;
$link: #7C52F6;

// Размеры шрифтов (mobile-size)
$ms-heading: 24px;
$ms-text: 16px;
