.download-cv-section {
  width: 100%;
  height: 452px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #F3EFFF;
  background: rgb(0, 3, 4);
}
